html,
body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/*
  Streams don't even work on mobile afaik but yolo
*/
@media (min-width: 768px) {
  main {
    width: 100%;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing);
  }
  .card-with-links-to-copy {
    grid-column: 2;
    grid-row: 1;
  }
  .card-with-actual-content {
    grid-column: 1;
    grid-row: 1;
  }
}

h2 {
  margin-top: 0;
}

.card {
  margin-top: 50px;
  padding: calc(var(--spacing) * 2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
}

.data-copied {
  visibility: hidden;
  font-size: 11px;
  font-weight: bold;
  color: red;
}

.bar {
  height: 8px;
  margin-bottom: calc(var(--spacing) * 2);
  border-radius: 10px;
  overflow: hidden;
  background: #eee;
}

.bar-fill {
  width: 0;
  height: 100%;
  background: red;
}

.controls {
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: var(--spacing);
}

button {
  flex: 0 1 100px;
}

code {
  word-wrap: break-word;
}

label {
  font-size: 11px;
  font-weight: bold;
  line-height: 2;
}

.fetch-button {
  flex-grow: 1;
  margin-left: var(--spacing);
}

.reset-button {
  display: none;
  margin-left: var(--spacing);
}
